{% extends 'base/layout.html' %}

{% block content %}
    <div>
        <h4 class="text-center primary-dark mb-3">Dashboard</h4>
            {% if rows|length == 0 %}
                <div class="divider"></div>
                <p class="text-center m-4">Looks like you haven't created any LNKs yet.</p>
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Link</th>
                            <th scope="col">Age</th>
                        </tr>
                    </thead>
                    {% for row in rows %}
                        <tr>
                           <td class=""><a href="/dashboard/{{row.code}}">
                               {{row.code}}
                           </a></td>
                           <td class="">{{row.link}}</td>
                           <td class="">{{row.age | safe}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
    </div>
{% endblock %}
