{% extends 'base/layout.html' %}

{% block content %}
    <div class="mb-3">
        <h1 class="text-center font-weight-bold m-2 primary-dark">Welcome to LNK</h1>
        <p class="text-center text-muted mt-2">LNK is a URL shortener service like bit.ly. Try it today!</p>
    </div>

    <div class="container my-5 form-box">
        <form method="POST" class="form-horizontal mx-auto col">
            {{ form.csrf_token }}
            <div class="mb-2 row flex-wrap px-0">
                <div class="col input-group">
                    <span class="input-group-text primary-bg" id="inputGroup-link">Link</span>
                    {{ form.link(class_='form-control', choices=[(12, 'a'), ('13', b)], placeholder='https://youtu.be/dQw4w9WgXcQ') }}
                </div>
            </div>
            <div class="row flex-wrap">
                <div class="col-md input-group mb-2 pe-md-2">
                    <span class="input-group-text primary-bg" id="inputGroup-code">Code</span>
                    {{ form.code(class_='form-control', placeholder='yt-rr') }}
                    <button class="btn btn-outline-secondary outline-border" type="button" id="button-addon2">🔀</button>
                </div>
                <div class="col-md input-group mb-2 ps-md-2">
                    <span class="input-group-text primary-bg" id="inputGroup-expiry">Expiry</span>
                    {{ form.expire(class_='form-select') }}
                </div>
            </div>
            <div class="text-center mt-2">
                <input class="btn primary-btn px-5 border" type="submit" value="Create LNK">
            </div>
        </form>
    </div>

    {% if message %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="divider"></div>

    <div class="container my-5 primary-bg p-3 p-md-4 p-lg-4 p-xl-4 round">
        <h4 class="text-center primary-dark mb-3">LNK Frequently Asked Questions</h4>
        <div class="accordion " id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                What is a URL shortener?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  URLs are important. However, they're often long, segmented, and hard to share or remember. A <strong>URL shortener</strong> takes your long, unwieldy URLs and provides you with a short customizable URL that reflects your brand and purpose.
                  <br class="mb-2">
                  For example, a URL shortener can take in a long Google Slides URL: <a class="underline primary text-truncate">https://docs.google.com/presentation/d/17FV7dMR6Qu</a>...
                  and provide you with a short and sharable URL: <span class="text-decoration-underline  primary">https://lnk.it/disc-12</span>.
              </div>
            </div>
          </div>
{#          <div class="accordion-item">#}
{#            <h2 class="accordion-header" id="headingTwo">#}
{#              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">#}
{#                W#}
{#              </button>#}
{#            </h2>#}
{#            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">#}
{#              <div class="accordion-body">#}
{#                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the#}
{#                  collapse plugin adds the appropriate classes that we use to style each element. These classes#}
{#                  control the overall appearance, as well as the showing and hiding via CSS transitions. You#}
{#                  can modify any of this with custom CSS or overriding our default variables. It's also worth#}
{#                  noting that just about any HTML can go within the <code>.accordion-body</code>, though the#}
{#                  transition does limit overflow.#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                Why LNK?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  LNK offers:
                  <ul>
                      <li>Both auto-expiring and *permanent links.</li>
                      <li>Dashboard view to manage valuable interaction statistics.</li>
                  </ul>
                  <div class="small">
                      *Permanent links only for account holders.
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>


{% endblock %}
