@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f9f9ff;
}

.primary {
    color: #3F72AF;
}

.primary-dark {
    color: #112D4E;
}

.primary-bg {
    background-color: #e1e8f5;
}

.primary-bg-light{
    background-color: #f9f9ff;
}

.primary-btn {
    background-color: #3F72AF;
    color: #ffffff;
}

.primary-btn:hover, .primary-btn:focus{
    background-color: #112D4E;
    color: #ffffff;
}

.divider {
    margin: 20%;
}
/*
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #8db48e;
}
*/

a {
    color: #3F72AF;
}

a:hover {
    color: #112D4E;
}

.round {
    border: 1px #80808080 solid;
    border-radius: 12px;
}

.auth-box {
    width: 30%;
    min-width: 400px;
}

.form-box {
    width: 65%;
    min-width: 350px;
}

.outline-border {
    border-color: #ced4da;
}