{% extends 'layout.html' %}

{% block content %}
    <div class="container p-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Link</th>
                    <th scope="col">Visits</th>
                </tr>
            </thead>

            {% for row in rows %}
                <tr>
                   <td class="">{{row.code}}</td>
                   <td class="">{{row.link}}</td>
                   <td class="">{{row.visits}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
