{% extends 'layout.html' %}

{% block content %}
    <div class="container p-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Link</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>

            {% for row in rows %}
                <tr>
                   <td class=""><a href="{{row.link}}" target="_blank" rel="noopener noreferrer">
                       {{row.code}}
                   </a></td>
                   <td class="">{{row.link}}</td>
                   <td class="">{{row.date.year}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
