{% extends 'layout.html' %}

{% block content %}
    <div class="container p-5">
        <div class="mb-4">
            <h1 class="text-center font-weight-bold">Welcome to LNK</h1>
            <p class="text-center">LNK is a link shortener service like bit.ly. Try it today!</p>
        </div>

        <div class="container">
            <form method="POST" class="form w-75 mx-auto">
                {{ form.csrf_token }}
                <div class="mb-2">
                    {{ form.link.label(class_='form-label') }} {{ form.link(class_='form-control', placeholder='https://youtu.be/dQw4w9WgXcQ') }}
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        {{ form.code.label(class_='form-label') }} {{ form.code(class_='form-control', placeholder='yt-rr') }}
                    </div>
                    <div class="col">
                        {{ form.expire.label(class_='form-label') }} {{ form.expire(class_='form-select') }}
                    </div>
                </div>
                <input class="btn primary-btn" type="submit" value="Create LNK">
            </form>
        </div>

        {% if message == '' %}
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                <p>{{message}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
