<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light primary-bg border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder ms-3" href="/">🔗 LNK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto me-1">
                    {% if user is not none and user.is_authenticated %}
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-start primary-bg-light" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Account</a></li>
                                <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <form action="/login">
                                <button type="submit" type="button" class="btn btn-outline-primary mx-2 my-1 btn-sm">Login</button>
                            </form>
                        </li>
                        <li class="nav-itemmx-3">
                            <form action="/signup">
                                <button type="submit" type="button" class="btn btn-outline-success mx-2 my-1 btn-sm">Signup</button>
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<div class="container p-3 p-md-4 p-lg-5">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>