{% extends 'base/layout.html' %}

{% block content %}
    <div class="mb-3">
        <h3 class="text-center font-weight-bold m-2 primary-dark">Signup</h3>
<!--        <p class="text-center text-muted mt-2">LNK is a URL shortener service like bit.ly. Try it today!</p>-->
    </div>
    <div class="auth-box mx-auto">
        <form method="POST" class="form mx-auto">
            <div class="mb-2">
                {{ form.email.label(class_='form-label') }}
                {{ form.email(class_='form-control') }}
            </div>
            <div class="mb-2">
                {{ form.password.label(class_='form-label') }}
                {{ form.password(class_='form-control') }}
            </div>
            <div class="mb-4">
                {{ form.passwordConfirm.label(class_='form-label') }}
                {{ form.passwordConfirm(class_='form-control') }}
            </div>
            <div class="text-center mb-4">
                <input class="btn primary-btn px-5 border" type="submit" value="Signup">
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {{ messages[0] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endwith %}
            <p class="small text-center">Already have an account? <a href="/login">Login</a> now.</p>
        </form>
    </div>
{% endblock %}
